@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@tailwind layers;




@layer components {


    .resultsList {
      @apply max-w-full bg-[#ffffff] absolute max-h-64 z-50 overflow-y-auto border-2 border-solid border-black;
    }
    .resultContainer {
      @apply w-full inline-flex gap-2 items-center border-b-2 py-2
    }

    .queryContainer {
      @apply max-w-xl py-4 flex-[2_1_auto];
    }

    .getRecs {
      @apply bg-orange px-8 py-4 rounded-xl text-white font-bold border-solid border-4 border-black
    }
}


html {
  background:url('./assets/layered-waves.svg') top / cover no-repeat fixed;
}

.topArtistsCheck {
  display:none;
}
.topArtistsCheck:checked ~ img {
  border: solid 4px #EB5E28;
}
.topArtistsCheck:checked ~ p {
  font-weight:600;
}